.main_home {
  height: 80vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.flex {
  display: flex;
}

.search {
  flex-direction: row;
  justify-content: space-between;
}

.box_ {
  width: 100%;
  height: 90%;
  border: 1px solid #272846;
  gap: 7px;
  /* background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 4px #00000029; */
  border-radius: 5px;
  opacity: 1;
}

.btn_cadastrar {
  width: fit-content;
}

.titles {
  width: fit-content;
  align-items: flex-start;
}

.btn_welcome {
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #272846;
  border-radius: 9px;
  opacity: 1;
  width: 35%;
  padding: 1em;
  font-weight: 800;
}

.title_table {
  background-color: #0d1931;
  color: #fff;

  padding: 10px;
  border-radius: 6px;

  flex-direction: row;
  justify-content: space-between;
}
